@using IptFinals.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@model IptFinals.Models.PersonalInfo

@inject SignInManager<IptUser> SignInManager
@inject UserManager<IptUser> UserManager
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@if (User.IsInRole("Manager"))
    {
    <div style="width: 1380px; height: 650px; padding-left: 30px; padding-right: 30px; padding-top: 20px; margin-top: 100px; margin-bottom: 100px; background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)">
    <h1>Edit</h1>
    <hr />
    <div class="row">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                    <div class="form-floating mb-3">
                        <input asp-for="UserId" class="form-control" hidden />
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="PersonalId" class="form-control" hidden />
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3">
                            <input asp-for="StudentId" class="form-control" placeholder="Student Id." />
                            <label asp-for="StudentId" class="form-label">Student-Id</label>
                            <span asp-validation-for="StudentId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="FirstName" class="form-control" autocomplete="firstname" />
                                <label asp-for="FirstName">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="LastName" class="form-control" autocomplete="lastname" />
                                <label asp-for="LastName">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-floating mb-3">
                                <input asp-for="Section" class="form-control" autocomplete="section" />
                                <label asp-for="Section">Section</label>
                                <span asp-validation-for="Section" class="text-danger"></span>
                            </div>
                        </div><div class="col-sm">
                            <div class="form-floating mb-3">
                                <input asp-for="Course" class="form-control" autocomplete="course" />
                                <label asp-for="Course">Course</label>
                                <span asp-validation-for="Course" class="text-danger"></span>
                            </div>
                        </div><div class="col-sm">
                            <div class="form-floating mb-3">
                                <input asp-for="YearLevel" class="form-control" autocomplete="yearlevel" />
                                <label asp-for="YearLevel">Year Level</label>
                                <span asp-validation-for="YearLevel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="ContactNumber" class="form-control" autocomplete="contactnumber" />
                                <label asp-for="ContactNumber">Contact Number</label>
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="DateOfBirth" class="form-control" autocomplete="dateofbirth" />
                                <label asp-for="DateOfBirth">Date of Birth</label>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Address" class="form-control" autocomplete="address" />
                        <label asp-for="Address">Address</label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="EmergencyContact" class="form-control" autocomplete="emergencycontact" />
                        <label asp-for="EmergencyContact">Emergency Contact</label>
                        <span asp-validation-for="EmergencyContact" class="text-danger"></span>
                    </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-primary" value="Save" style="margin-left:520px; margin-top:10px; background: #3691FB; color: white; border: blue;">Save <i class="bi bi-floppy"></i></button>
                    <a class="btn btn-primary" asp-action="Index" style="margin-top:10px;">Back to List <i class="bi bi-arrow-left"></i> </a>
                </div>
            </form>
         
        </div>
    </div>

        
}
else
{
    <div style="width: 1380px; height: 650px; padding-left: 30px; padding-right: 30px; padding-top: 20px; margin-top: 100px; margin-bottom: 100px; background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)">
    <h1>Edit</h1>
    <hr />
     <form asp-action="Edit">
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<div class="form-floating mb-3">
    <input asp-for="UserId" class="form-control" placeholder="" value="@Model.UserId"  hidden/>
</div>
        <div class="form-floating mb-3">
            <input asp-for="PersonalId" class="form-control" placeholder="" value="@Model.PersonalId" hidden />
        </div>
<div class="row">
            <div class="form-floating mb-3">
                <input asp-for="StudentId" class="form-control" placeholder="Student Id." value="@Model.StudentId" />
                <label asp-for="StudentId" class="form-label">Student-Id (Format: 00-0000)</label>
            </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="first name" value="@Model.FirstName"  />
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Last name" value="@Model.LastName"  />
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="form-floating mb-3">
            <input asp-for="Section" class="form-control" autocomplete="section" aria-required="true" placeholder="BSIT" value="@Model.Section" />
            <label asp-for="Section">Section</label>
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>
    </div><div class="col-sm">
        <div class="form-floating mb-3">
            <input asp-for="Course" class="form-control" autocomplete="course" aria-required="true" placeholder="Course" value="@Model.Course"  />
            <label asp-for="Course">Course</label>
            <span asp-validation-for="Course" class="text-danger"></span>
        </div>
    </div><div class="col-sm">
        <div class="form-floating mb-3">
            <input asp-for="YearLevel" class="form-control" autocomplete="yearlevel" aria-required="true" placeholder="Year Level" value="@Model.YearLevel" />
            <label asp-for="YearLevel">Year Level</label>
            <span asp-validation-for="YearLevel" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-floating mb-3">
            <input asp-for="ContactNumber" class="form-control" autocomplete="contactnumber" aria-required="true" placeholder="Contact Number" type="number" value="@Model.ContactNumber" />
            <label asp-for="ContactNumber">Contact Number</label>
            <span asp-validation-for="ContactNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input asp-for="DateOfBirth" class="form-control" autocomplete="dateofbirth" aria-required="true" placeholder="Date Of Birth" value="@Model.DateOfBirth"/>
            <label asp-for="DateOfBirth">Date of Birth</label>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-floating mb-3">
    <input asp-for="Address" class="form-control" autocomplete="address" aria-required="true" placeholder="Address" value="@Model.Address" />
    <label asp-for="Address">Address</label>
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
    <input asp-for="EmergencyContact" class="form-control" autocomplete="emergencycontact" aria-required="true" placeholder="Emergency Contact" value="@Model.EmergencyContact" />
    <label asp-for="EmergencyContact">Emergency Contact</label>
    <span asp-validation-for="EmergencyContact" class="text-danger"></span>
</div>
            <input type="submit" value="Save" class="btn btn-primary" style="margin-left: 520px; margin-top: 10px; background: #3691FB; color: white; border: blue;" />

            <a class="btn btn-primary" href="/PersonalInfo/Details/@ViewData["UserID"]" style=" margin-top: 10px">Back to Details</a>
    </form>
    </div>
}
